* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: gray;
}
nav {
    background: #89CFF0;
    height: 70px;
    width: 100%;
   
    
}
label.name {
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0px 50px;
    font-weight: bold;
   }
   label.name:hover {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 50px;
    font-weight: bold;
   }
nav ul {
    float: right;
    margin-right: 20px;
    
}
nav ul li {
   display: inline-block;
   line-height: 80px;
   margin: 0 5px
   
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
    
}
a.nav,a:hover{
    background: black;
    transition: .5s;
    
}

#about  {
    
    justify-content: center;
    position:relative; left:200px; top:5px;
    height: 10%;
    width: 80%;
    text-align: center;
    margin: 30px;
    padding: left;
    color:white;
    font-family: sans-serif;
    font-size: larger;

}

 img.me{
    border-radius: 20%;
}
.title {
    text-align: center;
    justify-content: center;
    margin: 20px;
    text-transform: uppercase;
    border-style: double;
    background-color: black;
    color: white;
}

.container {
    width: 200px;
    height: 200px;
    display: inline;
    
}

.container img {
    width: 30%;
    height: 20%;
    object-fit: cover;
    
}


